.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(12, 182, 125);
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.userListDelete {
  color: rgb(197, 66, 66);
  cursor: pointer;
}
